div.current_path a {
	padding:0 5px;
}

table.table th:nth-child(1) {
	width:25px;
}

table.table th:nth-child(3) {
	width:100px;
}

table.table th:nth-child(4) {
	width:80px;
}

table.table td:nth-child(2) {
	cursor:pointer;
}

@media (max-width:767px) {
	table.table th:nth-child(3),
	table.table td:nth-child(3) {
		display:none;
	}
}

div.input-group span input {
	padding:6px 25px;
}
