ul.photos {
	margin:20px 0 40px 0;
	padding:0;
	list-style-type:none;
}

ul.photos li {
	display:inline-block;
	vertical-align:top;
	padding:0 20px 0 0;
	height:130px;
}

ul.photos li p {
	width:120px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

img.preview {
	padding:2px;
}

img.overview_yes {
	border:1px solid #000000;
}

img.overview_no {
	border:1px dashed #000000;
}

img.preview_edit {
	float:right;
	border:1px solid #000000;
	padding:2px;
	margin-right:200px;
}

table.settings td:first-child {
	width:120px;
}

@media (min-width:767px) {
	div.albums {
		position:relative;
		left:300px;
		top:-30px;
		height:0;
		width:450px;
	}
}
