* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
}

div.wrapper {
	min-height:100%;
	position:relative;
}

h1 {
	font-size:32px;
	margin-top:0;
}

h2 {
	font-size:24px;
	margin-bottom:5px;
}

h3 {
	font-size:18px;
}

ul {
	padding-left:15px;
}

/* Header
 */
div.header {
	background-color:#e0e0e0;
}

div.header div.container {
	height:50px;
}

div.header div.container {
	font-size:24px;
	padding-top:7px;
}

nav.navbar {
	margin-bottom:0;
	border-radius:0
}

/* Content
 */
div.content div.container {
	padding-top:25px;
	padding-bottom:75px;
	position:relative;
}

/* Footer
 */
div.footer {
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color:#f0f0f0;
	border-top:1px solid #e0e0e0;
	padding-top:15px;
	text-align:center;
	color:#a0a0a0;
	font-size:12px;
}

div.footer a {
	color:#606060;
}

@media (min-width:768px) {
	div.footer span:before {
		content:"|";
		margin:0 20px;
	}
	div.footer span:first-child:before {
		content:"";
		margin:0;
	}
}

@media (max-width:767px) {
	div.content div.container {
		padding-bottom:140px;
	}
	div.footer {
		height:125px;
	}
	div.footer span {
		display:block;
		margin-bottom:10px;
	}
}
